* {
  box-sizing: border-box;
}

.cenp-row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.cenp-col-25 {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
}

.cenp-col-50 {
  -ms-flex: 50%;
  /* IE10 */
  flex: 50%;
}

.cenp-col-75 {
  -ms-flex: 75%;
  /* IE10 */
  flex: 75%;
}

.cenp-col-100 {
  -ms-flex: 100%;
  /* IE10 */
  flex: 100%;
}

.cenp-col-25, .cenp-col-50, .cenp-col-75, .cenp-col-100 {
  padding: 0 16px;
}

.cenp-container {
  padding: 20px 10px;
}

.cenp-container input[type=text], .cenp-container textarea, .cenp-container select {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.cenp-container label {
  margin-bottom: 5px;
  display: block;
  font-size: .9rem;
  font-weight: bold;
}

.ci-type-wrapper {
  display: block;
  margin-bottom: 1.2rem;
}

.ci-type-wrapper label {
  display: inline;
  margin-right: 15px;
}

.cm-source, .cm-note {
  margin-top: 50px;
}