.cm-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 100% !important;
  width: 100%;
}

.cm-sidebar {
  position: relative;
  width: 20%;
}

.cm-sidebar-wrapper {
  padding: 1rem .7rem;
  background: #FFF !important;
  box-shadow: 0 0 1px #C5C6C8;
  color: #FFF;
  border-radius: 20px;
  z-index: 999;
}

.cm-main {
  position: relative;
  width: 80%;
  padding: 0 .7rem;
}

.cm-content {
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, .30);
  transition: all 1s;
  border-radius: 20px;
}

.cm-header {
  margin-bottom: 1rem;
}

.cm-header h2 {
  font-family: "work sans", sans-serif;
  font-size: 1.4rem;
  margin: 0;
  color: #2e3e4d;
}

.cm-header h2::before {
  display: none !important;
}

.cm-category {
  margin-bottom: 1rem;
}

.cm-category h5 {
  font-family: "work sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  margin-bottom: .7rem;
  color: #333;
  font-weight: 500;
}

.cm-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cm-list li {
  line-height: 1;
}

.cm-item {
  color: #FFF;
  text-decoration: none !important;
  font-size: .7rem;
  text-transform: uppercase;
  font-family: "work sans", sans-serif;
  color: #2e3e4d;
}

.cm-item:hover {
  color: #00946c;
  text-decoration: none !important;
  font-weight: 600;
}

.cm-main.loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  bottom: 0;
  background: rgb(0 0 0 / 19%);
  z-index: 10;
}

.cm-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 0;
}

.cm-header .cm-title {
  width: 90%;
  text-align: center;
  background: #fefefe;
  color: #2e3e4d;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom: 1px solid #C5C6C8;
  border-top: 1px solid #C5C6C8;
  border-left: 1px solid #C5C6C8;
}

.cm-header .cm-title h4 {
  color: #2e3e4d;
  font-size: 1rem;
  line-height: 3rem;
  margin: 0;
}

.cm-header .cm-logo {
  max-width: 150px;
  height: auto;
  vertical-align: middle;
  margin-right: 15px;
  padding-left: 10px;
}

.cm-description {
  padding: 1.4rem;
  text-align: center;
}

.cm-description h4 {
  font-size: 1rem;
}

.cm-modified {
  text-transform: uppercase;
}

.cm-table-responsive {
  padding: 0 1.5rem;
  overflow-x: auto;
}

.cm-table th, .cm-table tfoot td {
  background: #2e3e4d;
  border: 2px solid #fff;
  text-align: center;
  color: #fff;
  box-shadow: none;
}

.cm-meio-interna tr td {
  padding: 3px;
}

.cm-charts {
  margin: 1.5rem 0;
}

.cm-charts .cm-title, .cm-fonte .cm-title {
  width: 80%;
  text-align: center;
  background: #fefefe;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  border-bottom: 1px solid #C5C6C8;
  border-top: 1px solid #C5C6C8;
  border-right: 1px solid #C5C6C8;
}

.cm-charts .cm-title h4, .cm-fonte .cm-title h4 {
  color: #2e3e4d;
  font-size: 1rem;
  line-height: 3rem;
  margin: 0;
}

.cm-chart {
  padding: 1rem 1.4rem;
  width: 100%;
  height: 490px;
}

.cm-fonte, .cm-description-footer {
  margin: 1rem 0;
}

.cm-description-footer {
  padding: 0 1.5rem 1rem;
}

.cm-border {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: .5rem;
}

.cm-font-content {
  padding: 1.4rem;
}

.cm-video, .cm-initial {
  padding: 1.4rem;
}

.cm-initial {
  text-align: justify;
}

.cm-initial p {
  margin-bottom: 1rem;
}

.cm-ranking-uf, .cm-ranking-position {
  width: 10%;
}

@media (max-width: 800px) {
  .cm-sidebar-container, .cm-container {
    width: 100%;
  }
  .cm-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: inherit;
  }
  .cm-header .cm-logo {
    max-width: 210px;
    height: auto;
    vertical-align: middle;
    margin: 1rem 0;
    padding: 0;
  }
  .cm-header .cm-title {
    width: 95%;
    text-align: center;
    background: #2e3e4d;
    color: #FFF;
    border-radius: 10px;
  }
  .cm-header .cm-title h4 {
    color: #FFF;
    font-size: 1rem;
    line-height: 2rem;
    margin: 0;
  }
  .cm-sidebar-container, .cm-container {
    padding-right: 0;
    padding-left: 0;
  }
  .cm-chart {
    width: 100%;
    height: auto !important;
  }
}

.cm-empty {
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.cm-footer {
  padding: 0 1rem 1rem;
}

.cm-link {
  position: relative;
  display: block;
  width: 100%;
  background: #fefefe;
  border: 1px solid #2e3e4d;
  border-radius: 20px;
  padding: .1rem 1rem;
  text-align: center;
  color: #2e3e4d !important;
  font-size: 1rem;
  text-decoration: none !important;
  font-weight: 500;
  font-family: initial;
  margin-bottom: .5rem;
  transition: all .4s;
}

.cm-link:hover {
  background: #2e3e4d;
  color: #FFF !important;
}

.v-left {
  float: left;
}

.v-right {
  float: right;
}

.cenpMeiosSub td {
  background: #f0f0f1 !important;
}

.cm-accordion .accordion {
  transition: 0.4s;
}

.cm-accordion .panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}