/*** GENERAL ***/

.cm-wrapper {
  position: relative;
  width   : 100%;
  height  : 100%;
}

.cm-container {
  max-width: 1400px;
  width    : 100%;
  margin   : 0 auto;
  padding  : 1rem 0;
}

.animate {
  stroke-dasharray: 242.6;
  animation       : fill-animation 1s cubic-bezier(1, 1, 1, 1) 0s infinite;
}

@keyframes fill-animation {
  0% {
    stroke-dasharray : 40 242.6;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray : 141.3;
    stroke-dashoffset: 141.3;
  }

  100% {
    stroke-dasharray : 40 242.6;
    stroke-dashoffset: 282.6;
  }
}

ul {
  list-style: none;
}

/******************
      LOADING
******************/
.svg-loader {
  display        : none;
  position       : relative;
  align-content  : space-around;
  justify-content: center;
  margin-top     : 50px;
}

.cm-main.loading .svg-loader {
  display: flex !important;
}

.loader-svg {
  position      : absolute;
  left          : 0;
  right         : 0;
  top           : 0;
  bottom        : 0;
  fill          : none;
  stroke-width  : 5px;
  stroke-linecap: round;
  stroke        : #00946c;
}

.loader-svg.bg {
  stroke-width: 8px;
  stroke      : rgb(0 148 108 / 46%) !important;
}

.cm-btn {
  font-family    : "Work Sans", sans-serif !important;
  font-size      : 1.5em !important;
  font-weight    : bolder !important;
  background     : #00946c !important;
  margin         : 0 !important;
  padding        : 0.6rem 4rem !important;
  text-align     : center !important;
  text-decoration: none !important;
  color          : #fff !important;
  border         : none !important;
  border-radius  : 25px !important;
  cursor         : pointer !important;
  transition     : all 0.2s ease-in-out !important;
  line-height    : 1.2;
}

.cm-btn:hover {
  background: #0a7055;
}

.cm-btn p {
  overflow     : hidden;
  text-overflow: ellipsis;
  white-space  : nowrap;
}

.cm-btn--dropdown::after {
  display       : inline-block;
  margin-left   : 0.5em;
  vertical-align: 0.1em;
  content       : "";
  border-top    : 0.3em solid;
  border-right  : 0.3em solid transparent;
  border-bottom : 0;
  border-left   : 0.3em solid transparent;
}

.cm-center {
  text-align: center !important;
}

.cm-pt-20 {
  padding-top: 20px !important;
}

.cm-my-10 {
  margin-top   : 10px !important;
  margin-bottom: 10px !important;
}

.cm-white {
  color: white;
}

.cm-uppercase {
  text-transform: uppercase !important;
}

.cm-capitalize {
  text-transform: capitalize !important;
}

.cm-bold {
  font-weight: bold !important;
}

.tr-white,
.tr-white td {
  background-color: #fff !important;
}

.tr-blue,
.tr-blue td {
  background-color: #ddebf7 !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.v-right {
  float: right !important;
}

.text-left {
  text-align: right !important;
}

.v-left {
  float: left !important;
}

/*** HEADER ***/

.cm-header {
  position             : relative;
  display              : flex;
  align-items          : center;
  justify-content      : center;
  flex-wrap            : wrap;
  width                : 100%;
  height               : 400px;
  background-image     : url("../images/banner.png");
  background-repeat    : no-repeat;
  background-position  : center;
  background-size      : cover;
  background-attachment: inherit;
  margin-bottom        : 100px;
}

.cm-header__title {
  color         : #FFF;
  font-family   : "Work Sans", sans-serif;
  font-size     : 5rem;
  font-weight   : bold;
  text-transform: capitalize;
  text-align    : center;
}

@media (max-width: 800px) {
  .cm-header {
    background-image: url("../images/banner_mobile.jpg");
  }

  .cm-header__title {
    font-size: 3rem;
  }

  .cm-btn p,
  .cm-btn {
    font-size: 1rem !important;
  }




}

/*** TOOLS ***/

.cm-tools {
  display        : flex;
  flex-direction : row;
  flex-wrap      : nowrap;
  align-items    : center;
  justify-content: space-between;
  max-width      : 1400px;
  width          : 100%;
  margin         : 30px auto;
}

@media (max-width: 800px) {
  .cm-tools {
    margin: 0 auto;
  }
}

/*** SECTIONS ***/

.cm-panels {
  position     : relative;
  margin-top   : 80px;
  margin-bottom: 30px;
}

.cm-section {
  position: relative;
  display : block;
  width   : 100%;
  height  : auto;
}

.cm-section--white {
  background-color: #fff;
}

.cm-section--dark {
  background-color: #2e3e4d;
}

/*** TITLE ***/

.cm-title {
  display        : flex;
  align-items    : center;
  justify-content: left;
}

.cm-title--left {
  justify-content: left;
}

.cm-title--right {
  justify-content: right;
}

.cm-title__label {
  font-family: "Work Sans", sans-serif;
  font-size  : 1.5em;
  font-weight: bolder;
  width      : 85%;
  padding    : 0.6rem 0rem;
  color      : #fff;
}

.cm-title--left .cm-title__label {
  border-top-right-radius   : 30px;
  border-bottom-right-radius: 30px;
  padding-right             : 2rem;
  text-align                : right;
}

.cm-title--right .cm-title__label {
  border-top-left-radius   : 30px;
  border-bottom-left-radius: 30px;
  padding-left             : 2rem;
  text-align               : left;
}

.cm-title--green .cm-title__label {
  background-color: #00946c;
}

.cm-title--dark .cm-title__label {
  background-color: #2e3e4d;
}

.cm-title--white .cm-title__label {
  background-color: #fff;
  color           : #2e3e4d;
}

@media (max-width: 800px) {
  .cm-title__label {
    font-size: 1rem;
    width    : 90%;
  }

  .cm-description h4 {
    font-size: 1rem;
  }

  .cm-description h5 {
    font-size: .8rem;
  }

}


/*** PANEL COLLAPSE ***/

.cm-panel {
  margin-top: 50px;
}

/************************
          CHARTS
*************************/

.chart_wrap {
  position      : relative;
  padding-bottom: 100%;
  height        : 0;
  overflow      : hidden;
}

.cm-chart {
  width     : 100%;
  height    : 100%;
  min-height: 500px;
}

/*********************
        TABLE
*********************/
.cm-table-responsive {
  width   : 100%;
  overflow: auto;
}

.cm-table th,
.cm-table tfoot td {
  background: #2e3e4d;
  border    : 2px solid #fff;
  text-align: center;
  color     : #fff;
  box-shadow: none;
}

table td,
table th {
  font-size: 1rem !important;
}



/***************
      MODAL
****************/
.cm-modal {
  position       : fixed;
  display        : none;
  justify-content: center;
  align-items    : center;
  height         : 100vh;
  width          : 100vw;
  left           : 0;
  top            : 0;
  background     : rgba(0, 0, 0, 0.8);
  padding        : 1.8rem 1rem;
  overflow       : hidden;
  z-index        : 9999999;
}

body.cm-modal-show .cm-modal {
  display: flex !important;
}

.cm-modal-content {
  background   : #fff;
  border-radius: 16px;
  box-shadow   : 0px 8px 16px rgb(32 32 32 / 6%);
  box-sizing   : border-box !important;
  padding      : 32px;
  width        : 470px;
  height       : calc(100vh - 50px);
}

.cm-modal__header {
  display        : flex;
  justify-content: space-between;
  margin-bottom  : 20px;
}

.cm-modal__title {
  font-size  : 22px;
  line-height: 32px;
  color      : #3b3b3b;
  margin     : 0;
}

.cm-modal__close {
  background-color: transparent;
  border          : none;
  padding         : 0;
  cursor          : pointer;
}

.cm-modal__close:hover,
.cm-modal__close:focus,
.cm-modal__close:active,
.cm-modal__close:focus-visible {
  background-color: transparent;
  outline         : none;
}

.cm-list {
  position: relative;
  height  : calc(100vh - 195px);
  overflow: auto;
  margin  : 0;
  padding : 0;
}

.cm-list__item,
.cm-list__link {
  display        : flex;
  color          : #2e3e4d !important;
  font-size      : 0.9rem !important;
  list-style     : none;
  flex-wrap      : nowrap;
  align-content  : center;
  justify-content: flex-start;
  align-items    : baseline;
}

.cm-list__link:hover,
.cm-list__link:active,
.cm-list__link:focus {
  color: #00936c !important;
}

.cm-list__item.active .cm-checked {
  display: inline-block !important;
}

.cm-list__item.active a {
  color: #00936c !important;
}

.cm-checked {
  position     : relative;
  display      : none;
  height       : 12px;
  width        : 10px;
  margin-right : 5px;
  transform    : rotate(23deg);
  border-bottom: 2px solid #00946B;
  border-right : 2px solid #00946B;
}

.cm-modal-legend {
  text-align: center;
}


.cm-panel__body {
  padding-top: 1.5rem;
  width      : 100%;
}

.cm-panel__columns {
  display        : flex;
  justify-content: space-between;
}

.cm-colum {
  width: 50%;
}

.cm-note {
  color: #3b3b3b !important;
}

.cm-note.has-note {
  color : #ff0000 !important;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display : block;
  color   : #00946c;
}

.tooltip .tooltiptext {
  visibility      : hidden;
  width           : auto;
  background-color: #2e3e4d;
  color           : #fff;
  text-align      : center;
  border-radius   : 6px;
  padding         : 0.4rem 1rem;
  position        : absolute;
  z-index         : 1;
  bottom          : 125%;
  left            : 0;
  margin-left     : 0;
  opacity         : 0;
  transition      : opacity 0.3s;
  font-weight     : bold;
}

.tooltip .tooltiptext::after {
  content     : "";
  position    : absolute;
  top         : 100%;
  left        : 50%;
  margin-left : -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #2e3e4d transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity   : 1;
}

.text-truncate {
  overflow     : hidden !important;
  text-overflow: ellipsis !important;
  white-space  : nowrap !important;
}

.cm-panel-description {
  margin-top: 1rem;
}

@media (max-width: 800px) {
  .cm-tools.header {
    flex-direction: column;
    height        : 125px;
  }

  .cm-tools.footer {
    flex-direction: column;
    height        : auto;
  }

  .cm-container {
    padding: 1rem !important;
  }

  .cm-btn {
    width: -webkit-fill-available !important;
  }

  .footer .cm-tools__items {
    width  : -webkit-fill-available;
    padding: 1rem;
  }
}

#cm_meios::after {
  content      : "";
  position     : absolute;
  height       : 10px;
  width        : 10px;
  top          : 38%;
  right        : 30px;
  transform    : rotate(45deg);
  border-bottom: 2px solid #FFF;
  border-right : 2px solid #FFF;
}